@import '~antd/dist/antd.css';

.search-container {
   background-color: lightgrey;
   height: 300px;
   padding-top: 4em;
}

.title {
   text-align: center;
}

.input-field-and-button {
   display: flex;
   width: 350px;
   margin: 0 auto;
}

.ant-input {
    border: 1px solid lightblue;
}

.ant-input.invalid {
  border: 1.2px solid red;
   
   
}
